<div class="card flex justify-content-center align-items-center bg-m-white">
  <p-sidebar [(visible)]="sidebarVisible">
      <ng-template pTemplate="header"><img class="w-3rem h-3rem ml-6" src="../../../assets/Logo.png" alt="Logo FATEX"><h1 class="text-3xl color-m-red">FATEX</h1></ng-template>
      <ng-template pTemplate="content"><app-btns></app-btns></ng-template>
      <ng-template pTemplate="footer">
        <div class="flex align-items-center justify-content-center">
          <img class="w-3rem h-3rem ml-2" src="../../../assets/User-img-default.png" alt="Imagem de usuário padrão">
          <p class="ml-2">{{ userName }} <i class="pi pi-bell ml-2"></i> <i class="pi pi-sign-out ml-5 btn-logout cursor-pointer"></i></p>
        </div>
      </ng-template>
  </p-sidebar>
</div>
<p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right color-m-white" class="sta-position" severity="danger"></p-button>
